.product-view-fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.product-view-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}